@page
@model TheCollection.Pages.Products.DetailsModel
@{
}

<br />
<h2 class="mb-4">Details of Product</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">@Model.productInfo.name</h5>
        <div class="row mb-3">
            <div class="col-md-4">
                <img src="@Model.productInfo.image" class="img-fluid" alt="@Model.productInfo.name">
            </div>
            <div class="col-md-8">
                <div class="mb-2">
                    <label class="fw-bold">Description</label>
                    <p>@Model.productInfo.desc</p>
                </div>

                <div class="mb-2">
                    <label class="fw-bold">Price</label>
                    <p>@Model.productInfo.price</p>
                </div>

                @if (User.IsInRole("admin") || User.IsInRole("seller"))
                {
                    <div class="mb-2">
                        <label class="fw-bold">In-stock</label>
                        <p>@Model.productInfo.instock</p>
                    </div>
                }
                else if (!User.IsInRole("admin"))
                {
                    <div class="mb-2">
                        <label class="fw-bold">Availability</label>
                        @if (int.TryParse(Model.productInfo.instock, out int instockValue))
                        {
                            @if (instockValue > 0)
                            {
                                <form method="post">
                                    <input type="hidden" name="productId" value="@Model.productInfo.id" />
                                    <p class="text-success">Product is available for purchase.</p>
                                    <button type="submit" class="btn btn-primary add-to-cart">Add to Cart</button>
                                </form>
                            }
                            else
                            {
                                <p class="text-danger">Product is not available for purchase.</p>
                            }
                        }
                        else
                        {
                            <p class="text-danger">Product availability information is not valid.</p>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <div>
            <span class="badge bg-primary">@Model.ListofCategories.FirstOrDefault(c => c.id == Model.productInfo.category)?.name</span>
        </div>
    </div>
</div>
