@page
@model TheCollection.Pages.Products.MyProductsModel
@{
}


<style>
    .card-img-top {
        height: 500px; /* Set the desired height */
        object-fit: cover; /* Ensure the image covers the specified height */
    }
</style>

<div class="container">
    <h2 class="mt-4">List of Products</h2>

    @if (User.IsInRole("admin") || User.IsInRole("seller"))
    {
        <a class="btn btn-primary mb-3" href="/Products/Create">New Product</a>
    }

    <div class="row">
        @foreach (var item in Model.ListofProducts)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@item.image" class="card-img-top" alt="@item.name">
                    <div class="card-body">
                        <h5 class="card-title">@item.name</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Price: @item.price</li>
                            <li class="list-group-item">
                                @if (User.IsInRole("admin") || User.IsInRole("seller"))
                                {
                                    <span class="text-info">Instock: @item.instock</span>
                                }
                                else if (int.TryParse(item.instock, out int instockValue) && instockValue > 0)
                                {
                                    <span class="text-success">Available</span>
                                }
                                else
                                {
                                    <span class="text-danger">Not Available</span>
                                }
                            </li>
                            <li class="list-group-item">Category: @Model.ListofCategories.FirstOrDefault(c => c.id == item.category)?.name</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        @if (User.IsInRole("seller"))
                        {
                            <a href="/Products/Edit?id=@item.id" class="btn btn-primary btn-sm">Edit</a>
                            <a href="/Products/Delete?id=@item.id" class="btn btn-danger btn-sm">Delete</a>
                        }
                        <a href="/Products/Details?id=@item.id" class="btn btn-success btn-sm">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
